@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
/* Josh Comeau's CSS Reset and set font */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  text-align: center;
  font-size: 2.5vw;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(rgb(91, 91, 91),#414348);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* toggle classes */
.hidden {
  visibility: hidden;
}

.fully-hidden {
  display: none;
}

/* page view */

.view-wrapper {
  display:flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.players {
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 5vw;
}

.players > img {
  width: 60%;
}

.player-one {
  background-color: #6e4776;
}

.player-two {
  background-color: #a4891e;
}

.player-name {
  padding-top: 60%;
}

.turn-indicator {
  font-size: 1.5vw;
}

.game-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.ttt-box-bg {
  width: 40vw;
  height: 40vw;
  background-image: url('assets/grid-3x3-svgrepo-com.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.ttt-grid {
  margin: 5.95%;
  height: 88%;
  display: grid;
  grid-template-rows: repeat(3, 29%);
  grid-template-columns: repeat(3, 29%);
  gap: 6.4%;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.win-counter {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.placed-token-titan {
  content:url(assets/class-titan-proportional-svgrepo-com.svg);
  width:90%;
  display: flex;
  justify-self: center;
  align-self: center;
}

.placed-token-warlock {
  content:url(assets/class-warlock-proportional-svgrepo-com.svg);
  width:90%;
  display: flex;
  justify-self: center;
  align-self: center;
}

.end-screen {
  position:fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(109, 109, 109);
}