@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
/* Josh Comeau's CSS Reset and set font */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  text-align: center;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* background: linear-gradient(to bottom, #d0d1d3 , grey); */
  background: linear-gradient(rgb(91, 91, 91),#414348);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.hidden {
  visibility: hidden;
}

.view-wrapper {
  display:flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.players {
  width: 25vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 5vw;
  font-size: 2em;
}

.players > img {
  width: 100%;
}

.player-one {
  background-color: #6e4776;
}

.player-two {
  background-color: #a4891e;
}

.player-name {
  padding-top: 60%;
}

.game-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 2em;
}

.ttt-box-bg {
  width: 40vw;
  height: 40vw;
  background-image: url('assets/grid-3x3-svgrepo-com.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.ttt-grid {
    margin: 5.95%;
    height: 88%;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, auto);
    grid-gap: 7%;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.win-counter {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.placed-token {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}